h1 {
color: white;
    font-size: 110px;
    font-family: tahoma;
    padding: 30px;
    display: inline-block ;
    animation: textShadowAnimation 2s infinite alternate;
    }


body{
    text-align: center;
    background-image:url("https://vignette.wikia.nocookie.net/evil/images/0/08/The_Alien_Invasion.jpg/revision/latest?cb=20170104041020");
    }

#leftImage {
     float: left;
     margin-right: 30px;
     height: 650px;
     width: 350px;
     margin-top: -625px;
     }
#rightImage {
     float: right;
     margin-left: 30px;
     height: 650px;
     width: 350px;
     margin-top: -625px;
}
.game-square {
    width: 1100px;
    height: 600px;
    background-color: black;
    border: 2px solid purple;
    border-color: green;
    margin-top: -125px;
        }
.centered-content {
     display: flex;
     justify-content: center;
     align-items: center;
        }
#copyright{
margin-top: 30px;
color:white;
textShadowAnimation 2s infinite alternate;
}
 @keyframes textShadowAnimation {
        0% {
            text-shadow: 0 0 40px green;
        }
        100% {
            text-shadow: 0 0 10px green;
        }
        }